/* Elements */
body {
    background-color: black;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

/* Bootstrap class overrides */
.card {
    margin-top: 1rem;
    background-color: #131313;
}
.card-body{
    padding: 0.5rem;
}

/* Game Containers */
.game-window {
    width: 80vmin;
    height: 80vmin;
    margin: auto;
}

.button-container {
    padding: 1%;
}


/* Game buttons */
.game-button {
    height: 100%;
    background-color: gray;
}

.button-yellow {
    background-color: #ffc107;
}
.button-yellow-lit {
    background-color: #ffdd75;
}

.button-blue {
    background-color: #0158b7;
}
.button-blue-lit {
    background-color: #7bbbff;
}

.button-green {
    background-color: #009c00;
}
.button-green-lit {
    background-color: #39ff39;
}

.button-red {
    background-color: #EE0000;
}
.button-red-lit {
    background-color: #ff4f4f;
}

.button-unlit {
    background-color: darkgray;
}